@import "nav";

.aparatur{
    
    .jumbotron{
        height: 210px;
        background-position: center;
        background-size: cover;
        border-radius: 0;
    }

    .container, .container-fluid{
        $img-size: 150px !global;

        margin-top: -30px;
        padding-top: 30px;

        .kotak{
            background-color: black;
        }

        
        img{
            box-sizing: border-box;
            padding: 0 20px;
            width: 200px;
        }

        .kaur{ 
            img{
                width: $img-size;
            }
        }

        .kasi{
            img{
                width: $img-size;
            }
        }

        .kadus{
            img{
                width: $img-size;
            }
        }
    }
}

@media (max-width: 360px){
    .jumbotron {
        background-size: auto;
        background-image: url(../../img/banner/aparatur-galaxy2.png);
    }
}

@media (max-width: 480px) and (min-width: 361px) {
    .jumbotron {
        background-image: url(../../img/banner/aparatur-mobile.png);
    }
}

@media (min-width: 481px) and (max-width: 1199px) {
    .jumbotron {
        background-image: url(../../img/banner/aparatur-tablet1.png);
    }
}

@media (min-width: 1200px) and (max-width: 1348px) {
	.jumbotron {
		background-image: url(../../img/banner/aparatur-desktop2.png);
	}
}

@media (min-width: 1349px) {
	.jumbotron {
		background-image: url(../../img/banner/aparatur-desktop1.png);
	}
}


