@import url(nav.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: "Varela Round", sans-serif;
}

body{
    font-family: "Merriweather Sans", sans-serif;;
}

.footer{
    height: 3vh;
}

  header .jumbotron {
    height: 210px;
    background-position: center;
    background-size: cover;
    border-radius: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,.7);
  }

  @media (max-width: 360px) {
    .jumbotron {
      background-image: url(../../img/banner/destinasi-wisata-galaxy.png);
      height: 100px;
    }
  }
  
  @media (max-width: 480px) and (min-width: 361px) {
    .jumbotron {
      background-image: url(../../img/banner/destinasi-wisata-mobile.png);
    }
  }
  
  @media (min-width: 481px) and (max-width: 1199px) {
    .jumbotron {
      background-image: url(../../img/banner/destinasi-wisata-tablet.png);
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1348px) {
    .jumbotron {
      background-image: url(../../img/banner/destinasi-wisata-desktop.png);
    }
  }
  
  @media (min-width: 1349px) {
    .jumbotron {
      background-image: url(../../img/banner/destinasi-wisata-desktop1.png);
      height: 300px;
    }
  }