@import "nav";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$verelaRound: 'Varela Round', sans-serif;
$notoSans: 'Merriweather Sans', sans-serif;

header{
    .jumbotron{
        height: 210px;
        background-position: center;
        background-size: cover;
        border-radius: 0;
    }
}

.layanan{
    
    .header-layanan{
        font-family: $notoSans;
        font-size: 24px;
    }

    .content-layanan{
        font-family: $verelaRound;
        font-size: 14px;
    }

    button{
        width: 50%;
    }


    img{
        width: 120px;
        height: 120px;
        margin-right: 12px;
    }
}

@media (max-width: 360px){
    .jumbotron {
        background-size: auto;
        background-image: url(../../img/banner/layanan-galaxy.png);
    }

    .layanan{
        .header-layanan{
            font-size: 16px;
        }

        .content-layanan{
            font-size: 12px;
        }

        button{
            display: none;
        }

        img{
            width: 80px;
            height: 80px;
            margin-right: 12px;
        }
    }
}

@media (max-width: 480px) and (min-width: 361px) {
    .jumbotron {
        background-image: url(../../img/banner/layanan-mobile.png);
    }
}

@media (min-width: 481px) and (max-width: 1199px) {
    .jumbotron {
        background-image: url(../../img/banner/layanan-tablet.png);
    }

    .header-layanan{
        font-size: 12px;
    }

    p{
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1348px) {
	.jumbotron {
		background-image: url(../../img/banner/layanan-desktop.png);
        height: 300px;
	}
}

@media (min-width: 1349px) {
	.jumbotron {
		background-image: url(../../img/banner/layanan-desktop3.png);
        height: 300px;
	}
}