@import "nav";

html, body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    /* height: 60%; */
}

hr{
    color: black;
    width: 400px;
    border-top: 4px solid #666;
    margin: 0 auto;
}

button{
    margin-top: 30px;
}

.carousel{
    background-attachment: fixed;
    
    .carousel-caption{
        margin: auto;
    }

    .carousel-item{ 
        img{
            filter: brightness(.7);
        }
    }

    .carousel-caption{ 
        img{
            width:75%; 
            margin-top: -85%;
        }
    }
}

.container-fluid{
    padding: 0;
    margin-top: -30px;
}


/* nav card */
.nav-card{ 
    .card{
        margin: 30px auto;
        
        a{
            font-size: 1.3em;
        }
    }

    img{
        width: 200px;
        margin: 0 auto;
    }
}



/* Profil Desa */
.profil-desa{
    background-color: rgb(236, 236, 236);
    min-height: 500px;

    p{
        margin-top: 20px;
    }
}


.d-flex{ 
    .d-content{
        box-shadow: 0 3px 8px rgba(0, 0, 0, .8);
        margin: 30px 8px;
        width: 50%;
        max-width: 150px;
        
        img{
            width: 75%;
            max-width: 100px;
        }
    }
}


footer{
    position: relative;
    bottom: 0;
}

@media (max-width: 576px){
    .carousel-caption{ 
        img{
            width:100%; 
            margin-top: -100px;
        }
    }

    body{
        margin-top: 50px;
    }

    p{
        font-size: .6em;
    }

    h1{
        font-size: 1.3em;
    }

    hr{
        width: 200px;
    }

    .navbar-brand{ 
        img{
            width: 25px;
        }
    }

    nav{ 
        a{
            font-size: .6em;
        }
    }

    .navbar-nav{
        img{
            width: 16px;
            float: left;
        }
    }

    .navbar-nav.social-media{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
    }

    .profil-desa button{
        font-size: .7em;
    }

    .profil-desa li{
        font-size: .6em;
        margin-left: -28px;
    }

    h3{
        font-size: 1.2em;
    }

    h4{
        font-size: 1.1em;
    }

    h5{
        font-size: 1em;
    }

    .profil-desa h1, h2, h3, h4, h5{
        text-align: center;
    }
}